# =========================================================
# Python
# =========================================================

__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# =========================================================
# Raw source PDFs
# =========================================================

data/raw/

# =========================================================
# Intermediate PDF extraction files
# =========================================================

data/processed/*_blocks.json

# =========================================================
# Keep the runtime RAG knowledge base
#
# chunks.json
# embeddings.npy
# =========================================================

# =========================================================
# Keep FAISS index
# =========================================================

# vectorstore/ifrs.index is intentionally NOT ignored

# =========================================================
# Jupyter
# =========================================================

.ipynb_checkpoints/

# =========================================================
# VS Code
# =========================================================

.vscode/

# =========================================================
# OS
# =========================================================

.DS_Store
Thumbs.db

# =========================================================
# Logs / temporary files
# =========================================================

*.log
*.tmp
*.temp

# =========================================================
# Node / React
# =========================================================

frontend/node_modules/
frontend/dist/
frontend/.vite/