# Virtual environment
.venv/

# Python
__pycache__/
*.pyc

# Environment variables
.env

# Data files
data/raw/*
data/processed/*

# Vector database
vectorstore/*

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db